@media screen and (max-width: 600px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 20px;
    font-weight: 800;
    margin-left: 0;
  }
  nav {
    padding: 0;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    background-color: chocolate;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px auto;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .form {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .hero-section {
    padding: 20px;
    margin: 0px;
    height: 483px;
    margin-left: 40px;
  }
  .hero-section h1 {
    margin-top: -70px;
    font-size: 35px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .form input,
  .option select {
    margin-top: -30px;
    padding: 0;
    width: 255px;
    height: 40px;
  }
  .tour-section {
    flex-direction: column;
    margin: 0;
    margin-left: 30px;
  }
  .tour-content ul li{
    margin-top: 200px;
  }
  .tour-content{
    padding: 20px;
    height: 100%;
  }
  .tour-image img{
    width: 500px;
  }
  .destination{
    padding: 0 10px;
  }
  .destination img{
    margin-left: 30px;
  }
  .destination h1{
    font-size: 30px;
    margin-left: 30px;
  }
  .destination p{
    font-size: 20px;
    margin-left: 30px;
  }
  .first-row{
    flex-direction: column;
    gap: 15px;
  }
  .second-row{
    flex-direction: column;
  }
  .third-row{
    flex-direction: column;
    margin-top: 10px;
  }
  .image-gallery img {
    height: 255px;
  }
  .choose{
    padding: 0;
    width: 100%;
  }
  .card{
    flex-direction: column;
  }
  .card-1, .card-2, .card-single{
    width: 500px;
    margin-left: 30px;
  }
  .card-single{
    margin-left: 30px;
  }
  .deals{
    padding: 0;
    margin-left: 20px;
  }
  .deals-1{
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .deals-2{
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .deals-2 .sub-heading {
    margin-left: -80px;
  }
  .deals-3{
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .deals-3 .sub-heading {
    margin-left: -80px;
  }
  .sub-heading{
    margin: 0;
    width: 250px;
    margin-top: -30px;
    margin-left: -80px;
  }
  .sub-heading i{
    margin: 0;
  }
  #book-btn{
    margin-left: 200px;
  }
  .video-section{
    flex-direction: column;
    padding: 40px;
    margin-right: -50px;
  }
  .video-right iframe{
    width: 100%;
  }
  .newsletter{
    flex-direction: column;
    padding: 0;
    margin-left: 20px;
  }
  .newsletter-content{
    width: 400px;
    margin-left: 20px;
  }
  .newsletter img{
    margin-left: 20px;
  }
  .newsletter input{
    width: 90%;
  }
  .discount{
    margin-left: -125px;
  }
  footer hr{
    margin-left: 80px;
  }
  footer{
     background: 100%;
     margin-left: 50px;
  }
  .type-content{
    flex-direction: column;
  }
  .tour-type{
    padding: 0;
    margin-left: 30px;
  }
.types{
  width: 300px;
}
.types i{
  margin-left: 70px;
}

  
}

